* { he
	
}

body {
	padding-top: 4em;
	margin: auto;
	text-align: center;
}

h1 {
	padding-bottom: 1em;
}

input {
	width: 25em;
}

footer {
	padding-top: 10em;
	float: bottom;
}

footer div {
	display: inline-block;

}